/* Make sure we don't have margins, get rid of any scrollbars that might make things ugly */
html, body {
    height: 100%; width: 100%; overflow: hidden;
}

/* Set a header */
h1 {
    color: white;
    font-size: 18px;
    text-align: center;
}

h2 {
    font-size: 19px;
    line-height: 21px;
}

/* Set the paragraph style */
p {}

body {
    /* no margins = no ugly white space */
    margin: 0;
    padding: 0;

    /* Georgia/serif is font of choice (?) */
    font-family: Georgia, serif;
    font-size: 13px;

    /* In case we can't find the background, set a color */
    background: #008080;
}

#error {
    width: 100%;
    margin-left: 10px;
    text-align: left;
    padding-bottom: 0px;
    color: black;
    font-weight: bold;
}

#session {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

}

#session:hover {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#formContainer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

/* Inner Div settings for vertical center */
.inner {
    display: table-cell;
    vertical-align: middle;
}

/* Outer div for vertical center  */
.outer {
    position: absolute;
    height:100%;
    width: 100%;
    display: table;

}

.card {
    /* There shouldn't be any, but better safe than sorry */
    overflow: hidden;
    padding: 1px;
    background-color: #c6c6c6;
    /* Center it, with a bottom margin */
    margin: 0px auto 25px;
    box-shadow: 2px 2px 0px 0px black;
}

.signin-card {
    width: 476px;
    max-width: 90%;
}

.card input[type=text],
.card input[type=password],
.card select {
    -webkit-appearance: none;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.card input[type=text],
.card input[type=password] {
    width: 375px;
}

.card form {
    margin: 0;
    padding: 0;
}

.card form .error {
    z-index: 2;
}

.formLabel {
    text-align: right;
    margin-right: 1em;
}

.btn {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 75px;
    height: 22px;
    background-color: #c6c6c6;
    box-shadow: 1px 1px 0px 0px black;
}

.btn:active {
    box-shadow: 2px 2px 0px 0px black;
}

